@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --mid-xzewx-bg: #03071a;
  --mid-form-bg: #03071abf;
  --nav-bg: #0d19529e;
  --common-border: 1px solid rgba(173, 216, 230, 0.174);
  --common-bg: #0d1952cb;
  --common-reflex: #ffffff;
  --li-bg: #03071a85;
  --mid-xzewx-reflex: #ffffff;
  --reflex-color: white;
  --default-link: black;
  --reflex-link: rgb(255, 255, 255);
  --default-bg: white;
  --reflex-bg: black;
  --icon-default: #3f51b5;
  --icon-reflex: #dbdbdb;
  --link-normal: rgb(13, 31, 63);
  --link-active: rgb(0, 89, 255);
  ---border-dark: rgb(41, 17, 108);
}

body {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

#K-ckwxeer {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.page-size {
  max-width: 1300px;
  margin: auto;
}

.closable-wrap {
  background-color: var(--mid-xzewx-bg) !important;
  color: var(--mid-xzewx-reflex);
  border: 2px solid var(---border-dark);
}
.closable-wrap i {
  display: inline-block;
  margin: 0 10px;
}
.closable-wrap a {
  color: var(--mid-xzewx-reflex);
}
.closable-wrap button {
  background: none;
  border: none;
  font-size: 20px;
  color: var(--mid-xzewx-reflex);
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-around {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading-content-anim {
  width: 90%;
  height: 400px;
  padding: 20px;
  overflow: hidden;
}
.loading-content-anim > span {
  width: 100%;
  background-color: rgba(3, 7, 26, 0.1803921569);
  display: block;
  height: 60px;
  margin-top: 5px;
  overflow: hidden;
  border-radius: 8px;
}
.loading-content-anim > span::after {
  content: " ";
  background: linear-gradient(45deg, rgba(3, 7, 26, 0.2588235294), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0;
  animation: animeLoad 1s cubic-bezier(1, -0.37, 0.5, 1.79) forwards infinite;
}
@keyframes animeLoad {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.loading-content-anim .long {
  width: 50%;
}
.loading-content-anim .height {
  height: 120px;
  width: 80%;
}
.loading-content-anim .short {
  width: 40%;
}

.error-message {
  color: #e91e63;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px;
  display: block;
  font-family: consolas;
  text-transform: capitalize;
}

.message {
  display: block;
  font-size: 14px !important;
  text-transform: none !important;
  margin: 5px auto;
}
.message.alert {
  color: #ffc600;
}
.message.success {
  color: #00f8ff;
}
.message.error {
  color: #ff5722;
}
.message.dispaly-none {
  display: none;
}

.message-box {
  position: fixed;
  top: 14px;
  right: 0;
  color: white;
  z-index: 2;
}
.message-box .message {
  background: #2196f3;
  border-radius: 0px;
  padding: 5px 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  width: 300px;
  overflow: hidden;
}
.message-box .message.info {
  background: #2196f3;
}
.message-box .message.alert {
  background: #ff0000;
}
.message-box .message.error {
  background: #ff9100;
}
.message-box .message.closing {
  opacity: 1;
  animation: fade-out 600ms ease-in forwards 1;
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(300px, 100px);
  }
}
.message-box .message .text {
  display: block;
  color: white;
  margin: 0 5px;
}
.message-box .message .text.close {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 200ms;
}
.message-box .message .text.close:hover {
  color: #000000;
}

.mid-xzewx {
  background: var(--mid-xzewx-bg);
  color: var(--reflex-color);
  width: 100%;
  height: 100vh;
  margin-top: -67px;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
.mid-xzewx .mid-particles {
  position: relative;
  top: 0;
}
.mid-xzewx .mid-particles p {
  display: block;
  width: 55px;
  height: 55px;
  pointer-events: none;
  background: linear-gradient(rgba(33, 150, 243, 0.031372549), rgba(33, 150, 243, 0.0509803922), rgba(0, 142, 255, 0.0588235294));
  position: absolute;
  top: 16vh;
  left: 200px;
  border-radius: 67% 90% 79% 73%;
  animation: animateRad 10s linear infinite;
  opacity: 0;
  border: 1px solid rgba(70, 130, 180, 0.1803921569);
}
@keyframes animateRad {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -20px;
    transform: rotate(360deg);
  }
}

.login-view {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.login-view form {
  width: 400px;
  background-color: var(--mid-form-bg);
  border: var(--common-border);
  padding: 30px 15px;
  border-radius: 8px;
  color: var(--mid-xzewx-reflex);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 1px rgba(25, 51, 172, 0.4117647059);
}
.login-view form span {
  display: block;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.login-view form label {
  display: block;
  padding: 5px 0;
}
.login-view form input {
  background-color: rgba(255, 255, 255, 0.1019607843);
  padding: 10px;
  border: var(--common-border);
  border-radius: 4px;
  font-size: 16px;
  color: var(--reflex-color);
  margin-bottom: 11px;
}
.login-view form input[type=submit] {
  height: 43px;
  font-size: 16px;
  background: #383c55;
  color: white;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  border: var(--common-border);
  border-radius: 5px;
}

.form-view {
  padding: 10px 20px;
}
.form-view .head-title {
  font-size: 24px;
  text-transform: capitalize;
  margin: 9px 0;
  display: block;
}
.form-view label {
  text-transform: capitalize;
  display: block;
  padding: 5px 0;
}
.form-view input {
  background-color: rgba(255, 255, 255, 0.1019607843);
  padding: 10px;
  border: var(--common-border);
  border-radius: 4px;
  font-size: 16px;
  color: var(--reflex-color);
  margin-bottom: 11px;
  width: 70%;
}
.form-view input[type=submit] {
  height: 43px;
  font-size: 16px;
  background: #383c55;
  color: white;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  border: var(--common-border);
  border-radius: 5px;
}
.form-view .editable {
  min-height: 42px;
  background: var(--common-bg);
  border: var(--common-border);
  border-radius: 6px;
  padding: 5px;
  outline: none;
  margin: 5px 0;
  margin-bottom: 10px;
}
.form-view .title {
  margin-top: 10px;
  display: block;
  border-bottom: var(--common-border);
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-view .title i {
  font-size: 14px;
  color: #9191fb;
  margin-right: 10px;
}
.form-view .info-list {
  width: 100%;
}
.form-view .info-x {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-view .info-x i {
  background: var(--link-normal);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--common-border);
  cursor: pointer;
  transition: 200ms;
}
.form-view .info-x i:hover {
  background-color: var(--reflex-color);
  color: var(--link-normal);
}
.form-view .list-pair {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.form-view .list-pair input {
  margin: 0 8px;
}

.some-kinda div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.some-kinda i {
  width: 20px;
  font-size: 18px;
  text-align: center;
}
.some-kinda input[type=date] {
  width: 200px;
  margin: 0 21px;
}

.button-view {
  -webkit-user-modify: f;
  display: flex;
  justify-content: flex-end;
}
.button-view button {
  width: 200px;
  height: 40px;
  background: orangered;
  color: white;
  border: none;
  border-radius: 3px;
  margin-right: 7px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition: 200ms;
}
.button-view button:nth-child(2) {
  background: #2196f3;
}
.button-view button:hover {
  filter: brightness(130%);
}

.admin-main {
  display: flex;
  align-items: flex-start;
}
.admin-main .xyz-left, .admin-main .xyz-right {
  background-color: var(--common-bg);
  padding: 5px;
  border: var(--common-border);
  color: var(--common-reflex);
}
.admin-main .xyz-left {
  border-left: none;
  width: 25%;
  margin-top: 30px;
  border-radius: 0 5px 5px 0;
}
.admin-main .xyz-left .left-ul span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.admin-main .xyz-left .left-ul li {
  cursor: pointer;
  align-items: center;
  padding: 14px;
  background: var(--li-bg);
  margin-top: 2px;
  transition: 300ms;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  color: var(--common-reflex);
}
.admin-main .xyz-left .left-ul li:hover {
  filter: brightness(200%);
}
.admin-main .xyz-left .left-ul li i {
  width: 33px;
}
.admin-main .xyz-left .left-ul li i.fa-mobile {
  font-size: 20px;
}
.admin-main .xyz-left .left-ul li.active {
  border-color: rgba(82, 90, 122, 0.4392156863);
  filter: brightness(200%);
}
.admin-main .xyz-right {
  border-radius: 5px;
  margin: 15px;
  margin-top: 30px;
  width: 75%;
}

header {
  background-color: var(--nav-bg);
  z-index: 1;
  color: var(--common-reflex);
}
header nav {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
header .logo {
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
}

footer {
  width: 100%;
  min-height: 200px;
  color: var(--reflex-color);
  background-color: var(--mid-xzewx-bg);
}
footer .info {
  padding: 10px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

/*# sourceMappingURL=main.css.map */
