:root {
  --mid-xzewx-bg: #03071a;
  --mid-xzewx-reflex: #ffffff;
  --reflex-color: white;
  --default-link: black;
  --reflex-link: rgb(255, 255, 255);
  --default-bg: white;
  --reflex-bg: black;
  --icon-default: #3f51b5;
  --icon-reflex: #dbdbdb;
  --link-normal: rgb(13, 31, 63);
  --link-active: rgb(0, 89, 255);
  ---border-dark: rgb(41, 17, 108);
}
