.head-links {
  & a {
    color: var(--link-normal);
    font-weight: bold;
    font-size: 14px;
    &.active {
      color: var(--link-active);
    }
  }
  cursor: pointer;
}
.reflex-head {
  background: linear-gradient(90deg, #673ab7, #3f51b5, #5200e2);
}
