header {
  background-color: var(--nav-bg);
  z-index: 1;
  color: var(--common-reflex);
  & nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  & .logo {
    font-family: $font-secondary;
    font-size: 28px;
    color: white;
  }
}
